.info2 {
  background-color: #fffff7;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  color: white;
  padding-left: 3%;
  padding-right: 3%;
}

#nombre {
  font-family: "Rowdies", cursive;
  font-size: 4vw;
  color: #01385f;
  padding-left: 20%;
  padding-top: 6%;
}

#apellido {
  font-family: "Rowdies", cursive;
  font-size: 5vw;
  padding-left: 5%;
  color: black;
}

/*Fullstack*/
#perfil {
  margin-top: 0.2em;
  color: #01385f;
  font-style: bold;
  font-size: 2vw;
  font-family: "Lobster", cursive;
}

/*Tecnóloga en sistemas....*/
#perfil-2 {
  margin-top: 5vh;
  color: black;
  font-size: 1.2vw;
}

/*Información personal...*/
.labels1 {
  background-color: #01385f;
  color: #fffff7;
  width: fit-content;
  border-radius: 10px;
  font-size: 1.1vw;
  padding: 1%;
  margin-top: 4vh;
  margin-bottom: 3vh;
  letter-spacing: 0.1vw;
}

.labels {
  background-color: #01385f;
  color: #fffff7;
  width: fit-content;
  border-radius: 10px;
  font-size: 1.1vw;
  padding: 1%;
  margin-top: 1vh;
  margin-bottom: 3vh;
  letter-spacing: 0.1vw;
}

/*Información personal*/
#perfil-3 {
  margin-top: 1vh;
  margin-bottom: 4vh;
  color: black;
  font-size: 1.2vw;
}

.box1 {
  display: flex;
  font-size: 1.2vw;
}

.fecha {
  color: black;
  padding-left: 10px;
}

.descripcion {
  color: black;
  padding-left: 9vw;
  padding-bottom: 1.6vw;
}

.descripcion2 {
  color: black;
  padding-left: 6vw;
  padding-bottom: 3vb;
}

@media (max-width: 400px) {
  #perfil {
    font-size: 3vw;
  }
}
