* {
  margin: 0;
  padding: 0;
}

.contenedor1 {
  display: flex;
  background-color: black;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 400px) {
  .contenedor1 {
    background-color: #fffff7;
    padding-left: 0%;
    padding-right: 0%;
  }

  * {
    font-size: 1.4vw;
  }
}
